* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0.2em;
  background-color: lightblue;
}
/* ======================================Header====================================== */
.Top {
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 5, 5);
  padding: 0.2em 0.8em 0.2em 0.8em;
}
.Icon {
  display: flex;
  width: 19em;
}
.Icon p {
  margin-top: 0.15em;
  font-size: 1.8em;
  padding-left: 0.2em;
  color: #ffbfbf;
  margin-top: 0.35em;
}

.Top img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-top: 0.37em;
}

button:hover {
  cursor: pointer;
  background-color: rgba(245, 9, 9, 0.8);
  color: rgba(99, 189, 220, 0.8);
}

.navBar {
  display: flex;
  font-size: 1.7em;
  justify-content: space-between;
  width: 35em;
  margin-top: 0.2em;
}
.navBar a {
  text-decoration: none;
  color: #ffbfbf;
}
.navBar a:hover {
  background-color: rgba(202, 191, 191, 0.8);

  color: rgb(3, 3, 3);
}
.navBarkLink {
  display: flex;
  justify-content: space-between;
  width: 25em;
  margin-top: 0.24em;
}
.inputSearch input {
  height: 2.3em;
  border-radius: 0.4em;
  margin-bottom: 0.3em;
  padding-top: 0.5em;
  font-size: 0.6em;
}

.inputSearch img {
  height: 1.7em;
  width: 2.4em;
  margin-bottom: -0.2em;
  margin-top: 0.2em;
}
button:hover {
  background-color: rgba(255, 191, 191, 0.5);
}

/* ======================================Header Ends====================================== */
/* ======================================Hero/Main=================================== */
.main {
  background-image: url("./hero.jpeg");
  background-size: cover;

  height: 30em;
  background-repeat: no-repeat;
}
select {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ""; */
  appearance: none;
}
select:hover {
  background-color: yellow;
}
/* ==================================Hero/Main End=================================== */
/* ==================================Article Section=================================== */
.hol {
  background-color: black;
  color: #ffbfbf;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}

.article1,
.article2 {
  display: flex;
}
/* 
.article2 {
  display: flex;
  background-size: cover;
}

.artImg1 {
  width: 25em;
  height: 10em;

  padding: 0em 0.095em 0.2em 0.095em;
}
.artImg2 {
  width: 25em;
  height: 10em;

  padding: 0em 0.095em 0em 0.095em;
}
.artImg1:hover,
.artImg1:focus {
  transform: scale(1.12);
}
.artImg2:hover,
.artImg2:focus {
  transform: scale(1.15);
}
.article1 a img:first-child {
  padding-left: 0em;
}
.article2 a img:first-child {
  padding-left: 0em;
}
.article1 a img:last-child {
  padding-right: 0em;
}
.article2 a img:last-child {
  padding-right: 0em;
} */
.article1 a,
.article2 a {
  flex: 1;
}
.article1 img,
.article2 img {
  width: 100%;
  object-fit: cover;
  height: 12em;
}

/* ==================================Article Section Ends=================================== */
/* ==================================Footer Starts=================================== */
.footerMain {
  display: flex;
  background-color: black;
  background-size: cover;
  height: 14.9em;
  color: #ffbfbf;
  /* font-size: 2em; */
  padding: 01em;
  letter-spacing: 0.2em;
  /* align-items: center; */
}
.footer1 {
  /* background-color: red; */
  width: 33%;
  padding-right: 1.2em;
}
.footer1 ul {
  font-weight: 900;
}
.footer1 a li {
  color: #ffbfbf;
  text-decoration: none;
  padding: 0.6em;
  font-weight: 530;
  font-size: 1em;
  line-height: 2.3em;
  list-style: none;
}
.footer1 img {
  height: 1.5em;
  width: 1.5em;
  border-radius: 30%;
}
.footer1Item {
  display: flex;
  justify-content: space-between;
}
.footer2 {
  /* background-color: hotpink; */
  width: 33%;
  padding-left: 1em;
  text-align: center;
  padding-top: 0.4em;
}

.footer2 ul {
  font-weight: 900;
}
.footer2 ul li {
  font-weight: normal;
}
.footer2 li,
.footer3 li {
  list-style: none;
  line-height: 3em;
  font-size: 0.6em;
  padding-top: 2em;
  /* letter-spacing: 0.3em; */
}
.footer3 {
  /* background-color: blue; */
  width: 34%;
  padding-left: 1em;
  text-align: center;
  padding-top: 0.4em;
}
.footer3 ul {
  font-weight: 900;
}

/* ==================================Footer Ends=================================== */
